<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle || 'Canady Manufacturing Co.' %></title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body class="min-h-screen flex flex-col text-slate-900">
    <%- include('../partials/nav', { showHomeLink }) %>

    <main class="flex-grow">
      <%- body %>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/nav.js" defer></script>
  </body>
</html>
